.mainOfSearchBar {
    background-color:#fff;
    width: 30%;
    min-width: 300px;
    padding: 0.4rem;
    border: 1px solid red;
    border-radius: 15px;
  }
  .containerOfInput {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .inputfield {
    flex: 1;
    padding: 5px;
    font-family: poppins, sens-serif;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: larger;
  }
  .searchIcon {
    font-size: 1.8rem;
  }
  .searchIcon:hover {
    cursor: pointer;
  }
  @media screen and (max-width:980px) {
    .mainOfSearchBar{
      width: 90%;
      margin: auto;
    }
  }
  @media screen and (max-width:390px) {
    .inputfield {
      font-size: 0.6rem;
      border: none;
      outline: none;
      background-color: #fff;
      font-size: large;
    }
    .searchIcon{
      font-size: 1.5rem;
    }
    .mainOfSearchBar{
      margin: auto;
    }
  }